/**
 * @license
 * MyFonts Webfont Build ID 3614359, 2018-07-24T05:01:09-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Demo-Extralight by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/extralight/
 * 
 * Webfont: Demo-Bold by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/bold/
 * 
 * Webfont: Demo-BoldItalic by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/bold-italic/
 * 
 * Webfont: Demo-ExtralightItalic by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/extralight-italic/
 * 
 * Webfont: Demo-Regular by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/regular/
 * 
 * Webfont: Demo-Light by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/light/
 * 
 * Webfont: Demo-Italic by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/italic/
 * 
 * Webfont: Demo-Medium by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/medium/
 * 
 * Webfont: Demo-LightItalic by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/light-italic/
 * 
 * Webfont: Demo-MediumItalic by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/demo/medium-italic/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3614359
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright 2016 Indian Type Foundry
 * 
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/372697");

  
@font-face {font-family: 'Demo-Extralight';src: url('../fonts/Demo-Extralight.eot');src: url('../fonts/Demo-Extralight.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-Extralight.woff2') format('woff2'),url('../fonts/Demo-Extralight.woff') format('woff'),url('../fonts/Demo-Extralight.ttf') format('truetype'),url('../fonts/Demo-Extralight.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-Bold';src: url('../fonts/Demo-Bold.eot');src: url('../fonts/Demo-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-Bold.woff2') format('woff2'),url('../fonts/Demo-Bold.woff') format('woff'),url('../fonts/Demo-Bold.ttf') format('truetype'),url('../fonts/Demo-Bold.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-BoldItalic';src: url('../fonts/Demo-BoldItalic.eot');src: url('../fonts/Demo-BoldItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-BoldItalic.woff2') format('woff2'),url('../fonts/Demo-BoldItalic.woff') format('woff'),url('../fonts/Demo-BoldItalic.ttf') format('truetype'),url('../fonts/Demo-BoldItalic.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-ExtralightItalic';src: url('../fonts/Demo-ExtralightItalic.eot');src: url('../fonts/Demo-ExtralightItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-ExtralightItalic.woff2') format('woff2'),url('../fonts/Demo-ExtralightItalic.woff') format('woff'),url('../fonts/Demo-ExtralightItalic.ttf') format('truetype'),url('../fonts/Demo-ExtralightItalic.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-Regular';src: url('../fonts/Demo-Regular.eot');src: url('../fonts/Demo-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-Regular.woff2') format('woff2'),url('../fonts/Demo-Regular.woff') format('woff'),url('../fonts/Demo-Regular.ttf') format('truetype'),url('../fonts/Demo-Regular.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-Light';src: url('../fonts/Demo-Light.eot');src: url('../fonts/Demo-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-Light.woff2') format('woff2'),url('../fonts/Demo-Light.woff') format('woff'),url('../fonts/Demo-Light.ttf') format('truetype'),url('../fonts/Demo-Light.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-Italic';src: url('../fonts/Demo-Italic.eot');src: url('../fonts/Demo-Italic.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-Italic.woff2') format('woff2'),url('../fonts/Demo-Italic.woff') format('woff'),url('../fonts/Demo-Italic.ttf') format('truetype'),url('../fonts/Demo-Italic.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-Medium';src: url('../fonts/Demo-Medium.eot');src: url('../fonts/Demo-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-Medium.woff2') format('woff2'),url('../fonts/Demo-Medium.woff') format('woff'),url('../fonts/Demo-Medium.ttf') format('truetype'),url('../fonts/Demo-Medium.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-LightItalic';src: url('../fonts/Demo-LightItalic.eot');src: url('../fonts/Demo-LightItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Demo-LightItalic.woff2') format('woff2'),url('../fonts/Demo-LightItalic.woff') format('woff'),url('../fonts/Demo-LightItalic.ttf') format('truetype'),url('../fonts/Demo-LightItalic.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Demo-MediumItalic';src: url('../fonts/372697_9_0.eot');src: url('../fonts/372697_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/372697_9_0.woff2') format('woff2'),url('../fonts/372697_9_0.woff') format('woff'),url('../fonts/372697_9_0.ttf') format('truetype'),url('../fonts/372697_9_0.svg#wf') format('svg');}
 