@media only screen and (max-width:767px) {
.parallax-image {
	background-attachment: scroll;
	background-position: center center !important;
	background-size: auto 100% !important;
}
.parallax {
	height: 150px;
}
.h2, h2 {
	font-size:28px;
}
.section-title {
	margin-bottom: 30px;
	margin-top: 0px;
}
.h3, h3 {
	font-size: 20px;
}
body {
	font-size: 16px;
}
.footer-copyright ul li a {
	line-height: 40px;
	font-size: 14px;
}
.footer-sitemap h3 {
	font-size: 18px;
	line-height: 28px;
}
.footer-sitemap h4 {
	font-size: 16px;
}
.pb-5, .py-5 {
	padding-bottom: 2rem !important;
}
.pt-5, .py-5 {
	padding-top: 2rem !important;
}
.readmore {
	margin-bottom: 30px;
	display: block;
}
.section-introduction {
	height: 100vh !important;
	background-size:cover;
}
.h1, h1 {
	font-size: 1.6rem;
	line-height: 42px;
}
.section-main {
	min-height: 250px !important;
	background-size: cover;
}
.blockquote {
	font-size: 22px;
}
.square img {
	width:100px;
	height: auto;
}
.logo-triangle {
	margin-top: 60%;
}
.logo-triangle img {
	position: relative;
	left: -14px;
	top: 50px;
}
.logo-square img {
	position: relative;
	left: -40px;
	top: -49px;
}
.navbar-brand img {
	width: 100px;
}
.logo-main {
	margin-top: -50%;
}





}

@media only screen and (min-width: 768px) and (max-width: 990px) {
.nav-link {
	font-size: 14px;
}
.parallax-image {
	background-attachment: scroll;
	background-position: center center !important;
	background-size:cover !important;
}
.parallax {
	height:300px;
}
.section-introduction {
	height: 100vh !important;
	background-size:cover;
}

}

@media only screen and (min-width: 991px) and (max-width: 1024px) {

}