#mainmenu {
	background:rgba(255,255,255,0.5);
}
#mainmenu.affix {
	background: #ffffff;
	transition: all .01s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	box-shadow:3px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:3px 0px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow:3px 0px 10px rgba(0,0,0,0.2);
}
.footer-copyright {
	border-top: 2px solid #49bbb4;
}
.footer-copyright ul {
	margin:0;
	padding:0;
	list-style:none;
}
.footer-copyright ul li {
	display: inline-block;
	margin-right: 30px;
}
.footer-copyright ul li a {
	line-height: 60px;
	font-size: 18px;
}
.footer-sitemap h3 {
	font-size: 22px;
	color: #49bbb4;
	line-height:32px;
	font-family:"Demo-Light";
}
.footer-sitemap h3 span {
	display: block;
	font-family:"Demo-Regular";
}
.footer-sitemap h4 {
	font-size: 18px;
	font-family:"Demo-Light";
}
.parallax {
	height:450px;
}
.parallax-image {
	background-position:center top;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% auto;
	 position:relative;
}
.section-title {
	margin-bottom: 50px;
	margin-top: 40px;
}
.section-main {
	min-height:550px;
}
.slider-content {
	padding-top:15%;
	min-height:100px;
}
.slider-content h1 {
	font-family:"Demo-Regular";
}
.line-map {
	position:relative;
	bottom:-80%;
}
.line-map img {
	width:100%;
	margin:0 auto;
	display:block;
	position:relative
}
.section-introduction {
  height:100vh;
  overflow:hidden;
}
.logocontent {
	position:relative;
	text-align:center;
	height:100vh;
}
.square {
  position:relative;
}
.square img {
	width:150px;
	height:auto;
}
.logo-triangle {
 	margin-left:auto;
	margin-right:auto;
	margin-top:30%;
}
.logo-triangle img {
	position:relative;
	left:-20px;
	top:10px;
}

.logo-circle {
	margin-left:auto;
	margin-right:auto;
	margin-top:-13%;
}
.logo-circle img {
	position:relative;
}
.logo-square {
 margin-left:auto;
	margin-right:auto;
	margin-top:-13%;
	left:auto;
}
.logo-square img {
	position:relative;
	left:-60px;
	top:-10px;
}
.logo-main {
 margin-left:auto;
	margin-right:auto;
	margin-top:-13%;
	left:auto;
}
.logo-main img {
	width:70px !important;
	left:auto;
}




/*************
     Modal
*************/
.Modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #535353;
  z-index: 9999;
  color:#fff;
}
.Modal .Close {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 999;
	cursor: pointer;
}
.project-slide {
	width: 80%;
	margin: 5% auto auto auto;
}
.project-slide h4 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 26px;
	color:#32b9b1;
}
.project-slide h4 span {
	color: rgba(255,255,255,0.5);
}
.slide-content {
	font-family: "demo-light";
	font-size: 16px;
	color: rgba(255,255,255,0.5);
	height:360px;
	overflow-y:auto;
}